/* ==============chatBoardView============== */
/* 상 우 하 좌/상 좌우 하/상하 좌우 */
div#boardView{
	/* outline:1px solid red; */
	margin:200px auto;
	width:70%;
	padding:40px;
}
div#boardView h2{
	margin:10px auto;
	padding-left:10px;
	text-align: left;
}
div#boardView_middle{
/* 	outline:1px dotted red; */
}
div#boardView_img{
/* 	outline:2px dotted green; */
	margin-left:1%;
	width: 60px;
	height: 60px;
	margin-right: 2%;
}
div#boardView_img img{
	/* float: left; */ 
	/* margin-top:20px; */
	width: 60px; height:60px;
	object-fit: cover;
	/* object-position: top; */
	border-radius: 50%;
	/* vertical-align: middle; */
}
div#boardView_name{
/* outline:2px dotted yellow; */
	/* width: 10%; */
	font-size: 20px;
}
div#boardView_date{
	/* margin-left:47%; */
	font-size: 15px;
}
div#boardView_content{
	/* outline:1px dotted green; */
	/* height: 200px; */
	background-color: #f7f9f9;
	border-radius: 1%; 
	margin:0 2%;
	padding:2%;
	height: 400px;
}
div#boardView_hit{
/* 	outline:2px dotted yellow; */
	margin-top:1%;
	margin-right: 100px;
	text-align: left;
	padding:0;
	width: 100px;
}
img#eye_img{
	width: 30px; 
	opacity: 70%;
}
div#boardView_button{
	margin-top:0;
}
button#chat_btn{
	margin-left:1%;
	width:50%;
}
button#list_btn, button#delete_btn{
	margin-left:5%;
}
button#modify_btn{
	/* margin-left:20%; */
}
div#mybtn{
	/* outline:2px dotted yellow; */
	width: 12%;
	margin-left:27%;
}
div#publicbtn{
	/* outline:2px dotted red; */
	width: 9%;
}

/* ==============chatBoardList============== */
div#chatBoardList_main {
	margin-top: 100px;
}
div.carousel-item img{
	margin:  auto;
	max-width: 100%; height: auto; 
	/* box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 4px; */
	}

img#woody{filter: drop-shadow(0px -5px 10px #778699);}
img#disney{filter: drop-shadow(0px -5px 10px #3C376E);}
img#starwars{filter: drop-shadow(0px -5px 10px #111111);}
img#marvel{filter: drop-shadow(0px -5px 10px #5C0100);}

form#list_search_form{
	margin:50px auto;
	margin-bottom:5px;
	width:100%;
}

div#container_table{
	width: 90%;
	margin: 0 auto;
}

form#table_sort{
	/* outline:1px dotted green; */
	/* width:20px; */
}
button#write_btn{
	/* margin-left:20px; */
}
ul#list_search{
	padding-left: 0 30%;
	text-align:center; /*li 가로정렬  */
}
ul.search li{
	list-style: none;
	display:inline-block; /*li 가로정렬  */
}
div#row_write{
	/* outline:1px dotted green; */
	/* margin-bottom:0; */
}
div#row_write{
	padding-left: 100px;
}
div#table_header{
	padding-top:20px;
}
div#chatBoardList1{
	margin-bottom: 100px;
}
table#table_header{
	margin-bottom:0;
}
table#table_body td{
	height:50px;
}

tr#chatboardList {
	cursor: pointer;
}
#chatBoardList1 tr{
	text-align: center;
	vertical-align: middle;
}
.result-display{
	border:2px solid; 
	border-radius: 5px;
	margin-bottom:200px; margin-top:100px;
	margin-left:200px;
	width: 50%; height: 300px;
	text-align: center;
	vertical-align: middle;
	/* display:table-cell; */
}
.result-display div{
	text-align: center;
	position:absolute;
}

table#table_body{
	margin-top: 0px;
}

div.pagination{
	margin-bottom:50px;
}
ul.pagination{
	justify-content: center;
}
li.page-link{
	font-size""
}
/* ==============Chatting============== */
div#bg{

	background-color: #f4fafd;
}
div.page-main-chat{
	margin:200px 10% 200px 10%;
	display:flex;
	flex-direction:row;/* 수평  */
	justify-content: center;
	flex-wrap: wrap;
	/* align-items: center; */ 
}
div#page-main-chat01{
	/* outline:1px solid red; */
	display: flex;
	/* align-items: center;  */
	margin-right: 50px;
}
div.chat01{
	background-color: #eeeeee;
    border-radius: 44px;
    width:382px;
    height: 200px;
    margin-top: 10%;
    margin-right: 39px;
    padding: 30px;
    position: relative;
}
div.chat01:after {
    content: '';
    position: absolute;
    right: 0;
    /* left: 0; */
    top: 15%;
    border: 19px solid transparent;
    border-left-color: #eeeeee;
    border-right: 0;
    border-bottom: 0;
    margin-top: 34px;
    margin-right: -13px;
}

div#page-main-chat02{
	/* outline:1px solid blue; */
	display: flex;
	align-items: center; 
}

div.chat02{
	/* outline:1px solid purple; */
	display:flex;
	flex-direction:column;/* 수직  */
	justify-content: flex-end;
	align-items: center;
	background-color: #fff;
	padding:10px;
	margin:25px 30px 25px auto;
	border-radius: 7px;
}
div#chatting_message{
	font-size: 14px;
	color: #333;
	flex-basis:500px;
	margin-top:20px;
	/* flex-grow:10%; */
}
div#chatting_form{
	/* outline:2px dotted yellow; */
	flex-basis:200px;
	margin-top:10px;
	/* flex-grow:10%; */
}
div#chatting_form form{
	margin-top:10px;
}
div#enter{
	/* outline:2px dotted green; */
	display:flex;
	flex-direction:column;/* 수직  */
	justify-content: center;
	align-items: center;
}
div#enter img{
	/* outline:2px dotted green; */
	display:none; 
	position: absolute;
	width:120px;
	padding-bottom: 40px;	
}
div#enter textarea{
	border-radius: 5px; 
	background-color:transparent;
	width: 95%;
}
div#enter button{
	margin-top:10px;
	width: 95%;
}

button#mate{
	margin-top: 10px;
}
/* --- 말풍선 ---- */

/* 우측 .from-position */
span#from_name{
	padding-left: 230px
}
.from-position {
	width: 300px;
	margin: 10px 0 10px 330px;
}
.from-position .item {
	position: relative;
	background: #72c4df;
	border-radius: 26px;
    word-break: break-all;
    padding: 14px;
    width: 278px;
}
#from_item:after {
	content: '';
	position: absolute;
	right: 0; /* left: 0; */
	top: 50%;
	width: 0;
	height: 0;
	border: 12px solid transparent;
	border-left-color: #72c4df; /* border-right-color */
	border-right: 0;
	border-bottom: 0;
	margin-top: -6px;
	margin-right: -10px;/* margin-left */
}
#from_item img{
	display: none;
}

/* 좌측.to-position */
span#to_name{
    padding-left: 18px;
}
.to-position {
	width: 300px;
	margin: 10px 0 10px 15px;
}
.to-position .item {
   	position: relative;
	background: #ffd891;
	border-radius: 10px;
	width: 278px;
	padding: 14px;
	word-break: break-all;
}
#to_item:after {
	content: '';
    position: absolute;
    left: 0;
    top: 68%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #ffd891;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -9px;
}


	

