@charset "UTF-8";


/*마이페이지*/
.my-photo { /*프로필사진설정*/
	object-fit: cover;
	object-position: top;
	border-radius: 50%;
}

.profile {
	text-align: center;
	background: #fff;
	min-height: 660px;
	vertical-align: middle;
	display: flex;
	justify-content: center;
	max-width: 640px;
	margin: 0 auto;
	}

.profile-userpic img {
	float: none;
	text-align: center;
	margin-top: 30px !important;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

.profile-usertitle {
	text-align: center;
	margin-top: 20px;
}

.profile-usertitle-name {
	color: #5a7391;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 7px;
	text-align: center;
	border-bottom: 1px solid #ededed;
}

.profile-usertitle-intro {
	text-transform: uppercase;
	text-align: center;
	color: #5b9bd1;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
}

.profile-userbuttons {
	margin-top: 20px;
	text-align: center;
}

.profile-userbutton {
	margin-top: 20px;
}

.profile-userbuttons .btn {
	text-transform: uppercase;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	padding: 6px 15px;
	margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
	margin-right: 0px;
	text-align: center;
}

.yWX7d {
    border: 0;
    color: #0095f6;
    color: rgba(var(--d69,0,149,246),1);
    display: inline-block;
    padding: 0;
    position: relative;
    appearance: none;
    background: 0 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 9px;
    text-align: center;
    padding-inline-start: 280px;
    text-overflow: ellipsis;
    text-transform: inherit;
    user-select: none;
    width: auto; 
}

.yWX7s{
    color: gray;
    position: relative;
    background: 0 0;
    border: 0;
    box-sizing: border-box;
    display: block;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 9px;
    margin-top: 1px;
    padding-inline-start: 575px;
	}
	
.modibtn  {
	display: inline-block;
	outline: none;
	cursor: pointer;
	padding: 0 16px;
	background-color: #0070d2;
	border-radius: 0.25rem;
	border: 1px solid #0070d2;
	color: #fff;
	font-size: 13px;
	line-height: 30px;
	font-weight: 400;
	text-align: center; 
}	

.homebtn  {
	display: inline-block;
	outline: none;
	cursor: pointer;
	padding: 0 16px;
	background-color: #fff;
	border-radius: 0.25rem;
	border: 1px solid #0070d2;
	color: #0070d2;
	font-size: 13px;
	line-height: 30px;
	font-weight: 400;
	text-align: center;
}

.passbtn {
	color: gray;
    position: relative;
    background: 0 0;
    border: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 9px;
    text-align: center;
}

.filebtn {
	color: gray;
    position: relative;
    background: 0 0;
    border: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 600;
    padding: 10px 9px;
    text-align: center;
}

.form1 {
	box-sizing: border-box;
	font-family: inherit;
	font-size: 14px;
	vertical-align: baseline;
	font-weight: 400;
	letter-spacing: .16px;
	border-radius: 0;
	outline: 2px solid transparent;
	outline-offset: -2px;
	width: 50%;
	height: 40px;
	border: none;
	border-bottom: 1px solid #8d8d8d;
	padding: 0 16px;
	color: #161616;
	transition: background-color 70ms cubic-bezier(.2, 0, .38, .9), outline
		70ms cubic-bezier(.2, 0, .38, .9);
	margin-bottom: 10px;	 
}

.form2 { 
	box-sizing: border-box;
	font-family: inherit;
	font-size: 14px;
	vertical-align: baseline;
	font-weight: 400;
	letter-spacing: .16px;
	border-radius: 0;
	outline: 2px solid transparent;
	outline-offset: -2px;
	width: 50%;
	height: 30px;
	border: none;
	border-bottom: 1px solid #8d8d8d;
	padding: 0 16px;
	color: #161616;
	transition: background-color 70ms cubic-bezier(.2, 0, .38, .9), outline
		70ms cubic-bezier(.2, 0, .38, .9);
	margin-top: 15px; 
}

.mylike {
	margin-inline-start: 85px;
    margin-inline-end: 85px;
}
.passwd {
	font-size: 15px;
    background-color: #f2f2f2;
    font-family: 'SUIT-Medium';
    border: none;
    width: 400px;
    margin-top: 10px;
    height: 53px;
    border-radius: 5px;
}
.passtitle {
	margin-top: 30px;
	color: gray;
	text-align: center;
}
.passtitle2{
	font-size: 16px;
    color: #a5a5a5;
    line-height: 1.5;
    text-align: center;
}
