@charset "UTF-8";

ul li {
	list-style: none
}
/*마이페이지*/
.my-photo { /*프로필사진설정*/
	object-fit: cover;
	object-position: top;
	border-radius: 50%;
}

.profile {
	text-align: center;
	background: #fff;
	min-height: 460px;
	vertical-align: middle;
	display: flex;
	justify-content: center;
}

.profile-userpic img {
	float: none;
	text-align: center;
	margin-top: 30px !important;
	width: 50%;
	height: 50%;
	-webkit-border-radius: 50% !important;
	-moz-border-radius: 50% !important;
	border-radius: 50% !important;
}

.profile-usertitle {
	text-align: center;
	margin-top: 20px;
}

.profile-usertitle-name {
	color: #5a7391;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 7px;
}

.profile-usertitle-intro {
	text-transform: uppercase;
	text-align: center;
	color: #5b9bd1;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
}

.profile-userbuttons {
	text-align: center;
	margin-top: 10px;
}

.profile-userbuttons .btn {
	text-transform: uppercase;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	padding: 6px 15px;
	margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
	margin-right: 0px;
	text-align: center;
}
