@charset "UTF-8";
/*모달-공통*/
.align-center{
	text-align:center;
	margin: 0 auto;
}
.align-right{
	text-align:right;
}
.modal-login {
	width: 350px !important;
	margin: 50px auto !important ;
	text-align:center !important;
	font-size:12pt !important;
}

.modal-title{
font-size:13pt;margin: 0 auto;margin-top:5px;font-family: 'BMJUA';
}
#login_form input[type="text"],input[type="password"]{
	font-size:10pt;
	 background-color:#f2f2f2;
}
.sign-btn{
color:#ffffff !important;
font-family: 'BMJUA';
font-size:12pt;
}
.alter{
margin: 35px auto 20px;
font-size:9pt;

}
.sign-logo{
margin-top:20px;
}
.social_login{
margin: 35px auto !important;
}
.alter_text{
color:#10c3eb !important;
text-decoration:none !important;
}
/*로그인 타이틀 폰트 후보들*/
@font-face { 
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*==========별아이콘 설정 시작==========*/
.star_area { /*별점구역*/
	margin: 0 auto;
	padding-left: 20px;
	/* background-color:blue; */
}
/*별점전체구역(평가하기+별존)*/
.css-1jlb6q {
	width: 228px;
	height: 66px;
	margin: 20px auto 24px;
}

@media ( min-width : 1023px) {
	.css-1jlb6q {
		width: 238px;
		height: 57px;
	}
}

@media ( min-width : 719px) { /*평가하기 구역 너비조정*/
	.css-1jlb6q {
		width: 396px; /*196*/
		height: 51px;
		margin: 0;
	}
}

/* .css-1m7ruyk { 별아이콘전체div


	position: relative;
	text-align: center;
	width: 200px;
	margin: 0 auto;
	cursor: pointer;
	width: 100%;
}*/
.css-1mbuso5 { /*별아이콘하나*/
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 20px; /*40*/
}

.css-fnwbjg { /*별아이콘svg*/
	vertical-align: top;
	width: 20px; /*40*/
	height: 20px; /*40*/
}

@media ( min-width : 1023px) {
	.css-1m7ruyk {
		width: 190px;
	}
}

@media ( min-width : 719px) {
	.css-1m7ruyk {
		width: 160px;
		margin: 3px auto 0;
	}
}

/* .css-1m7ruyk svg {

	width: 44px;  
	height: 44px; 
	width: 22px; 44
	height: 22px; 44
} */

/*
@media ( min-width : 1023px) {
	.css-1m7ruyk svg {
		width: 44px; 38
		height: 44px; 38
	}
}

@media ( min-width : 719px) { /*별사이즈조절*/
.css-1m7ruyk svg {
	width: 26px; /*32*/
	height: 26px; /*32*/
}

}
* /
.css-1mbuso5 { /*별아이콘하나*/
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 20px; /*40*/
}

.css-fnwbjg { /*별아이콘svg*/
	vertical-align: top;
	width: 20px; /*40*/
	height: 20px; /*40*/
}

/*==========별아이콘 설정 끝==========*/

/*메인,헤더 설정*/
#header_logout {
	margin-right: 20px;
}