@charset "UTF-8";

/*==========별아이콘 설정 시작==========*/
.star_area { /*별점구역*/
	margin: 0 auto;
	padding-left: 20px;
	/* background-color:blue; */
}
/*별점전체구역(평가하기+별존)*/
.css-1jlb6q {
	width: 228px;
	height: 66px;
	margin: 20px auto 24px;
}

@media ( min-width : 1023px) {
	.css-1jlb6q {
		width: 238px;
		height: 57px;
	}
}

@media ( min-width : 719px) { /*평가하기 구역 너비조정*/
	.css-1jlb6q {
		width: 396px; /*196*/
		height: 51px;
		margin: 0;
	}
}

/* .css-1m7ruyk { 별아이콘전체div


	position: relative;
	text-align: center;
	width: 200px;
	margin: 0 auto;
	cursor: pointer;
	width: 100%;
}*/
.css-1mbuso5 { /*별아이콘하나*/
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 20px; /*40*/
}

.css-fnwbjg { /*별아이콘svg*/
	vertical-align: top;
	width: 20px; /*40*/
	height: 20px; /*40*/
}

@media ( min-width : 1023px) {
	.css-1m7ruyk {
		width: 190px;
	}
}

@media ( min-width : 719px) {
	.css-1m7ruyk {
		width: 160px;
		margin: 3px auto 0;
	}
}

/* .css-1m7ruyk svg {

	width: 44px;  
	height: 44px; 
	width: 22px; 44
	height: 22px; 44
} */

/*
@media ( min-width : 1023px) {
	.css-1m7ruyk svg {
		width: 44px; 38
		height: 44px; 38
	}
}

@media ( min-width : 719px) { /*별사이즈조절*/
.css-1m7ruyk svg {
	width: 26px; /*32*/
	height: 26px; /*32*/
}

}
* /
.css-1mbuso5 { /*별아이콘하나*/
	display: inline-block;
	position: relative;
	vertical-align: top;
	height: 20px; /*40*/
}

.css-fnwbjg { /*별아이콘svg*/
	vertical-align: top;
	width: 20px; /*40*/
	height: 20px; /*40*/
}

/*==========별아이콘 설정 끝==========*/

/*메인,헤더 설정*/
#header_logout {
	margin-right: 20px;
}

/*=====모달-콘텐츠=====*/
#comment-header{
	padding-top:20px;
}
.modal-header .btn-close { /*닫힘버튼css*/
  color:black !important;
	border-radius: 50%;
	background-color:#e3e3e3;
	 width: 10px !important;
    height: 10px !important;
    font-size:7pt !important;
	float: right !important;
    margin-right: 3px !important;
    margin-top: -20px !important;
}
.modal-title2 {
	float: left;
	font-size:10pt;
	font-family: 'SUIT-Medium';
}
.modal-comment {
	width: 420px !important;
	height: 450px !important;
	margin: 30px auto !important ;	
	font-size:12pt !important;
}
.modal-comment .modal-content{
	border-radius: 15px !important; 
}
.comment-body{
	height: 350px !important; /* background-color:gray; */
	margin-top:-20px;
}
#comment_form textarea{
	font-family: 'SUIT-Medium';
	font-size:10pt;
	 border: none; 
	 width: 400px !important;height: 280px !important; 
	 outline: none !important;
	 resize: none;
	 /* background-color:gray;  */
}
#comment_btn{
	width: 90px;
	float: left; 
	border: none; color:white;font-size:10pt;
	font-family: 'SUIT-Medium';
	/* background-color:pink; */
	margin-left:10px;
}
div #count_area{
	float: left;font-size:6pt;
	color:#7d7d7d;
	/* font-family: 'SUIT-Medium'; */
	text-align:right;	
	height:30px;
	/*텍스트 세로 중앙 정렬*/
	display: flex !important;
	align-items:center !important;
	justify-content:center !important;
	/* background-color:pink; */
	
}
.float_right{
	float: right; 
}
.btn-dark-blue {
    background: #7474BF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
    border: 3px solid #eee;
}

/*모달-공통*/
.align-center{
	text-align:center;
	margin: 0 auto;
}
.align-right{
	text-align:right;
}
.modal-login {
	width: 350px !important;
	margin: 50px auto !important ;
	text-align:center !important;
	font-size:12pt !important;
}

.modal-title{
font-size:13pt;margin: 0 auto;margin-top:5px;font-family: 'BMJUA';
}
#login_form input[type="text"],input[type="password"]{
	font-size:10pt;
	 background-color:#f2f2f2;
	 font-family: 'SUIT-Medium';
	 border: none;
	 
}
#signUp_form input[type="text"],input[type="password"]{
	font-size:10pt;
	 background-color:#f2f2f2;
	 font-family: 'SUIT-Medium'; 
	 border: none;
}

.sign-btn{
color:#ffffff !important;
font-family: 'BMJUA';
font-size:12pt;
}
.alter{
margin: 35px auto 20px;
font-size:10pt;
font-family: 'SUIT-Medium';

}
.alter .alter_text{
font-size:10pt;
font-family: 'SUIT-Medium';
}
.sign-logo{
margin-top:20px;
}
.social_login{
margin: 35px auto !important;
}
.alter_text{
color:#10c3eb !important;
text-decoration:none !important;
}
.btn-3 {
  background-image: linear-gradient(to right, #84fab0 0%, #8fd3f4 51%, #84fab0 100%);
}
/*로그인 타이틀 폰트 후보들*/
@font-face { 
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}