<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper   
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
    
	<!-- 		["kr.spring.chat.dao.ChatBoardMapper"]	
		public List<ChatBoardVO> selectList(Map<String,Object> map); -->
<mapper namespace="kr.spring.chat.dao.ChatBoardMapper"> 
	<select id="selectList" parameterType="map" resultType="chatboardVO"> 
		SELECT * 
		FROM 
			(SELECT a.*, rownum AS rnum 
			FROM 
				(SELECT
					b.chatboard_num,
					<![CDATA[
					REPLACE(REPLACE(b.title,'<','&lt;'),'>','&gt;') title,
					]]>
					m.name,
					b.reg_date,
					b.hit
				FROM dchatboard b JOIN dmember_detail m
				ON b.mem_num = m.mem_num
				<where>
					<if test="keyword !='' and keyfield == 1">
						b.title LIKE '%' || #{keyword} || '%'
					</if>
					<if test="keyword != '' and keyfield == 2">
						m.id LIKE '%' || #{keyword} || '%'
					</if>
					<if test="keyword != '' and keyfield == 3">
						b.content LIKE '%' || #{keyword} || '%'
					</if>
					<if test="keyword != '' and keyfield == 4">
						b.title LIKE '%' || #{keyword} || '%' or
						b.content LIKE '%' || #{keyword} || '%' 
					</if>
				</where>
				ORDER BY b.board_num DESC) a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
	</select>
	
		<!-- public int selectRowCount(Map<String,Object> map); -->
	<select id="selectRowCount" parameterType="map" resultType="integer">
		SELECT 
			COUNT(*)
		FROM chatBoard b
		JOIN spmember m
		ON b.mem_num = m.mem_num
		<where>
			<if test="keyword !='' and keyfield == 1">
				b.title LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 2">
				m.id LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 3">
				b.content LIKE '%' || #{keyword} || '%'
			</if>
			<if test="keyword != '' and keyfield == 4">
				b.title LIKE '%' || #{keyword} || '%' or
				b.content LIKE '%' || #{keyword} || '%' 
			</if>
		</where>
	</select>
	
	<update id="updateBoard" parameterType="boardVO">
		UPDATE spboard SET
			<if test="filename != ''">
				uploadfile=#{uploadfile},
				filename=#{filename},
			</if> 
			title=#{title},
			content=#{content},
			ip=#{ip},
			modify_date=SYSDATE
		WHERE board_num=#{board_num}
	</update>
	
	<!-- **댓글** -->
	<!-- [댓글 목록] -->
	
	<!-- 
	<select id="selectListReply" parameterType="map" resultType="boardReplyVO">
						
						
		SELECT
			*
		FROM (SELECT
				a.*,
				rownum rnum
			  FROM (SELECT
						re_num,
						re_content은 HTML태그 불허
						<![CDATA[
						REPLACE(REPLACE(re_content,'<','&lt;'),'>','&gt;')AS re_content,						
						]]>
						re_date,
						re_mdate,
						board_num,
						mem_num,
						id
					FROM spboard_reply
					JOIN spmember USING(mem_num)
					WHERE board_num = #{board_num}
					ORDER BY re_num DESC)a)
		<![CDATA[
		WHERE rnum >= #{start} AND rnum <= #{end}
		]]>
		페이지 처리에 특수문자가 들어가므로 CDATA사용
	</select> 
	-->
	
</mapper>

